:root{
    --mob:#0ae6cc;
    --tab:#f30808;
    --laptop:#46f208;
    --desktop:#ab08f7;

}
*{
    margin : 0px;
    padding : 0px;
    box-sizing : border-box; 
}
  
body{
  font-size : 130px;
  color:lightcoral;
}
.box{
  display : grid;
  place-items : center;  
  background-color: white ;
  height : 100vh;
  }
#size {
    position: absolute;
  
    /* positioning screen size below our main text */
    
    top : 20%;
    left: 50%;
  
    transform: translateX(-50%);
  
}

@media screen and (min-width : 576px){
    .box{
      background-color: var(--mob);
    }
   
}
@media screen and (min-width : 768px){
  .box{
    background-color: var(--tab);
  }
       
}
@media screen and (min-width : 992px){
  .box{
    background-color: var(--laptop);
  }
          
}
@media screen and (min-width : 1200px){
  .box{
    background-color: var(--desktop);
  }
             
}
